html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: grid;
  place-items: center;
  overflow: scroll;
}

.app__videos {
  position: relative;
  height: 100vh;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  -ms-overflow-style: none;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
